p{
    background-color: black;
    width: 60%;
    font-family: 'StarJedi-DGRW', sans-serif;
    font-size: 20px;
}

body {
    text-align: center;
}

#Inicio {
    justify-content: right;
    gap: 35%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    text-align: center;
    padding: 10px 0;
}

main {
    padding-top: 120px;
}

#abrir, #cerrar {
    margin-right: 10%;
}

#menu-hamburgesa{
    top: 13%;
}

.info-foto{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}



ul {
    list-style: none;
    padding: 0px;
}

@media (width < 1020px) {
    .info-foto {
        flex-direction: column;
    }

    form {
    flex-direction: column;
    }

    #datos-personales, #comentario, button {
        margin-top: 5%;
        }

    button {
        margin-bottom: 5%;
    }
}

@media (width < 470px) { 
    #darth-vader, #obi {
        width: 350px;
    }

}