@font-face {
    font-family: 'StarJedi-DGRW';
    src: url(../fuentes/StarJedi-DGRW.ttf) format('truetype');
}

body {
    margin: 0px;
}

#Banner {
    width: 700px;
    height: 700px;
}

header {
    text-align: center;
}

main {
    padding-top: 100px;
}

h1 {
    background-color: white;
    font-family: 'StarJedi-DGRW', sans-serif;
    color: black;
    margin: 0px;
}

section {
    margin-top: 30px;
}

.paginas {
    text-decoration: none;
    color: white;
    font-size: 32px;
    border-bottom: 2px solid white;
}

#Inicio {
    display:flex;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    text-align: center;
    padding: 10px 0;
}

#logo {
    width: 100px;
    height: 100px;
}


#cerrar {
    display: none;
}


#menu-hamburgesa:target {
    right: 0px;
}

#menu-hamburgesa:target ~ #abrir {
    display: none;
}

#menu-hamburgesa:target ~ #cerrar {
    display: inline-block;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

section p {
    width: 400px;
    font-family: 'StarJedi-DGRW', sans-serif;
    font-size: 20px;
}

footer {
    text-align: center;
}

#CuentaX {    
    color: white;
    background-color: black;
    padding: 10px;
   
}

#Insta {
    color: white;
    background-color: black;
    padding: 10px;
   
}

#insta-x {
    display: flex;
    justify-content: space-evenly;
}

.redes {
    width: 100px;
    height: 100px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    width: 50%;
}

.toggle {
    display: none;
}

.text {
    position: absolute;
    left: 10%;
    width: 35%;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    text-align: left;
    z-index: 1;
}

.image-box {
    transition: transform 0.5s ease;
    cursor: pointer;
    z-index: 2;
}

.image-box:hover {
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.6);

}

.toggle:checked ~ .container .image-box {
    transform: translateX(40%);
}

.toggle:checked ~ .container .text {
    opacity: 1;
    transform: translateX(-70%);
}

label {
    cursor: pointer;
}


#banda-sonora {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

input {
    display: block;
}

label {
    color: white;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

textarea {
    width: 400px;
    height: 150px;
}

#comentario {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

#datos-personales {
    display: flex;
    flex-direction: column;
    width: 50%;
}

@media (width < 1500px) { 


.toggle:checked ~ .container .text {
    opacity: 1; 
    transform: translateY(120%);
}

section p {
    transform: translateX(25%);
}

#banda-sonora {
    margin-top: 540px;
}

.toggle:checked ~ .container .image-box {
    transform: translateX(0);
}
}

@media (width < 1100px) { 

section p {
    transform: translateX(8%);
}

form {
    flex-direction: column;
}

#datos-personales, #comentario, button {
    margin-top: 5%;
}

button {
    margin-bottom: 5%;
}
}

@media (width < 800px) { 

section p {
    transform: translateX(-10%);
} 

.toggle:checked ~ .container .text {
    transform: translateY(100%);
}

#Banner {
    width: 500px;
    height: 500px;
}

#banda-sonora {
    margin-top: 400px;
}

}

@media (width < 560px) {

section p {
    transform: translateX(-20%);
} 

#Banner {
    width: 350px;
    height: 350px;
}

iframe {
    width: 350px;
    height: 350px;
}
}

@media (width < 458px) { 
    section p { 
        width: 350px;
    }

    .toggle:checked ~ .container .text {
        transform: translateY(79%);
    }


}

@media (width < 401px) { 
    section p { 
        width: 280px;
    }

    #banda-sonora {
        margin-top: 650px;
    }       
}