body{
    text-align: center;
}

ul{
    list-style: none;
}



ol {
    list-style: none;
}

a {
    background-color: white;
    color: black;
    padding: 10px;
 
}



#Inicio {
    margin-left: 30px;
    
}

#About {
    margin-left: 200px;
}

#Reparto {
    margin-left: 200px;
}

#Produccion {
    margin-left: 200px;
}