body{
    text-align: center;
}

#Inicio {
    justify-content: right;
    gap: 370px;
}

#abrir, #cerrar {
    margin-right: 200px;
}

#menu-hamburgesa {
    top: 14%;
}

ol, ul {
    list-style: none;
    width: 550px;
}

.info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
