@font-face {
    font-family: 'StarJedi-DGRW';
    src: url(../fuentes/StarJedi-DGRW.ttf) format('truetype');
}

body {
    background-image: url(../imagenes/fondo.estrellado.jpeg) ;
    background-size: cover;
}

h2 {
    background-color: white;
    font-family: 'StarJedi-DGRW', sans-serif;
    color: black;
    padding: 10px;
}

h3 {
    font-family: 'StarJedi-DGRW', sans-serif;
    background-color: white;
    color: black;
    padding: 10px;
}

li {
    color: white;
    font-family: 'StarJedi-DGRW', sans-serif;
}

p {
    font-family: 'StarJedi-DGRW', sans-serif;
    color: white;
}

.paginas {
    text-decoration: none;
    color: white;
    font-size: 32px;
    border-bottom: 2px solid white;
}

#Inicio {
    display:flex;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
}

#logo {
    width: 100px;
    height: 100px;
}


#cerrar {
    display: none;
}

#menu-hamburgesa {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 200px;
    background-color: black;
    right: -1000px;
    top: 17%;
    position: fixed;
    transition: right 0.7s ease;
    z-index: 99;
}

#menu-hamburgesa:target {
    right: 0px;
}

#menu-hamburgesa:target ~ #abrir {
    display: none;
}

#menu-hamburgesa:target ~ #cerrar {
    display: inline-block;
}

input {
    display: block;
}

label {
    color: white;
}

form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

textarea {
    width: 400px;
    height: 150px;
}

#comentario {
    display: flex;
    flex-direction: column;
}

#datos-personales {
    display: flex;
    flex-direction: column;
    width: 500px;
}

#Enviar {
    border: none;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    font-family: 'StarJedi-DGRW', sans-serif;
    width: 100px;
    height: 50px;
}

#Enviar:hover {
    box-shadow: 0px 0px 15px white;
}