body {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0px;
    width: 500px;
}

#menu-hamburgesa {
    top: 13%
}

#Inicio {
    justify-content: right;
    gap: 260px;
}


.info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#abrir, #cerrar {
    margin-right: 200px;
}

ol {
    list-style: none;
    padding: 0px;
    width: 500px;
}

