p{
    background-color: black;
    width: 500px;
    font-family: 'StarJedi-DGRW', sans-serif;
    font-size: 20px;
}

body {
    text-align: center;
}

#Inicio {
    justify-content: right;
    gap: 555px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    text-align: center;
    padding: 10px 0;
}

main {
    padding-top: 120px;
}

#abrir, #cerrar {
    margin-right: 300px;
}

#menu-hamburgesa{
    top: 13%;
}

.info-foto{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}



ul {
    list-style: none;
    padding: 0px;
}