
body {
    text-align: center;
}

ul {
    margin-bottom: 50px;
    list-style: none;
}

#Inicio {
    justify-content:right;
    gap: 580px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    text-align: center;
    padding: 10px 0;
}

main {
    padding-top: 120px;
}

#menu-hamburgesa{
    top: 14%;
}

#abrir, #cerrar {
    margin-right: 200px;
}

li{
    color: black;
    font-family: 'StarJedi-DGRW', sans-serif;
    font-size: 25px;
}

p{
    width: 1000px;
    margin-top: 20px;
    color: black;
    font-size: 25px;
    font-family: 'StarJedi-DGRW', sans-serif;
}

.imagen {
    width: 900px;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    margin-top: 20px;
    width: 1000px;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
